@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700);


body {
	background-size: cover;
	background-color: #1D1010;
}

.container {
	height: 600px;
	width: 1000px;
	background-color:#535151;
	position: center;
	margin: 0 auto;
	background-image: url("background3.jpg");
	background-size: cover;
	border-radius: 40px;
}

h1 {
	font-family: 'Philosopher', sans-serif;
	color: #535151;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

li {
	padding-bottom: 340px;
}

.chat_bot {
	float:left;
	width:300px;
	height:500px;
	position: relative;
	background-color: black;
	opacity: .7;
	border-radius: 40px;
	margin-left: 100px;
	margin-top: 50px;
}


#text_input {
	width:80%;
	margin:0 auto;
	display:block;
}

.history {
	font-family: 'Philosopher', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 200;
}

.picture {
	float:right;
	position: relative;

}

.picture img {
	width:auto;
	height:450px;
	border-radius: 500px;
	opacity: .85;
	margin-right: 60px;
	margin-top: 80px;
}
.picture img:hover{
	opacity: 1;
}


.list {

}

#log {

}

.input {

}


